spring:
  datasource:
    url: jdbc:mysql://localhost:3306/escola?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password:

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
      show-sql: true
  properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
